.Register, .LoginPage{
    background: linear-gradient(106.33deg, #FF995F -39.52%, #FFECE1 113.61%);
    position: relative;

    @include breakpoint-down(small){
        max-height: 100vh;
        width: 100vh;
        background: #FFFCFA;
    }
    
}

.centered-div{
    @include breakpoint-up(medium){
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 85%;
    }
}

.login-panel {
    border-radius: 30px;
    background-color: #FFFCFA;

    @include breakpoint-down(small){
        border-radius: 0;
    }
    
    .login-label{
       font-family: $headingsFont;
       font-weight: 400;
    }

    .login-options {
        margin: 20px 0 0 5px;
        width: 400px;
        display: flex;
        justify-content: space-between;

        span {
            @extend .orange-link;
        }

        @include breakpoint-down(small){
            flex-direction: column;
            align-items: flex-start;
        }
    }

    button{
        width: 412px;
        margin-top: 26px;

        @include breakpoint-down(small){
            width: 80%;
        }
    }
}

.login-panel-right{
    display: flex;
    justify-content: flex-end;      
    img{
        width: 70%;

        @include breakpoint-down(small){
            display: none;
        }
    }
}

.login-panel-left{
    margin: 26px 10px 10px 46px;

    @include breakpoint-down(small){
        margin: 26px 0px 0px 18px;
    }

    .inputs-area {
        margin-top: 4rem;
        h2 {
            font-size: 40px;
            font-weight: 800;

            @include breakpoint-down(small){
                font-size: 24px;
            }
        }
    }

    .inputs-area-smaller{
        margin-top: 2rem;

        h2 {
            font-size: 40px;
            font-weight: 800;
        }
    }

    .inputs-area-header{
        p {
            font-size: 16px;
            font-weight: 500;
            color: #A79184;
            width: 400px;

            @include breakpoint-down(small){
                font-size: 14px;
            }
        }
    }
}

.orange-link{
    cursor: pointer;
    color: $orange;
    font-family: $paragraphsFont;
    font-size: 16px;
    font-weight: 700;

    @include breakpoint-down(medium){
        font-size: 14px;
        margin-top: 1rem;
    }
}

.login-panel-input {
    margin-top: 1.6rem;
    position: relative;
    width: 100%;
}

.login-label {
    margin-bottom: 2rem;
    font-size: 1rem;
    font-weight: 500;
}

.form-input {
    width: 100%;
    border: 1px solid #C4C4C4B2;
    padding: 5px;
    font-size: 16px;
    border-radius: $borderRadius;

    @include breakpoint-down(small){
        font-size: 14px;
        width: 70%;
    }
}

.form-input-unset{
    @extend .form-input;
    width: unset;
}

.form-input-width-44 {
    @extend .form-input;
    width: 44%;
}

.form-input-width-60{
    @extend .form-input;
    width: 60%;
}

.login-checkbox {
    min-width: 18px;
    min-height: 18px;
    border: 1,25px solid #FF995F;
    margin-right: 10px;
}

.login-checkbox-label {
    font-size: 16px;
    font-weight: 500;
}

