.basic-button{
    background-color: $orange;
    border-radius: 6px;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    padding: 12px 26px;
    transition: ease-in-out 0.5s;

    &:hover{
        transition: ease-in-out 0.3s;
        transform: scaleX(1.05) scaleY(1.05);
    }

    @include breakpoint-down(medium){
        font-size: inherit;
    }
}

.centered-button-wrapper{
    display: flex;
    justify-content: center;
}

.button-secondary{
    @extend .basic-button;
    background-color: unset;
    border: 1px solid $orange;
    color: black;
    transition: ease-in-out 0.5s;

    &:hover{
        @extend .basic-button;
        transition: ease-out 0.4s;
    }
}

.delete-button{
    background-color: #d54300;
    border-radius: $borderRadius;
    padding: 8px;
    color: white;
    cursor: pointer;
    transition: ease-in-out 0.5s;
    
    &:hover{
        opacity: 60%;
        transition: ease-in-out 0.4s;
    }
}

.button-success{
    @extend .basic-button;
    background-color: rgba(29, 190, 77, 0.877);
}

.button-deny{
    @extend .basic-button;
    background-color: #e41616;
}

.close-button{
    cursor: pointer;
    transition: ease-in-out 0.5s;

    &:hover{
        transform: rotate(90deg);
        transition: ease-in-out 0.4s;
    }
}

.glowing-button{
    @extend .basic-button;
    box-shadow: 4px 4px 15px rgba(255, 153, 95, 0.3);
    width: max-content;
}