.search-page, .Transports, .CreateDemand, .CreateTransport{
    @extend .main-component-color;
    min-height: $minPageHeight;
}

.CreateDemand, .CreateTransport{
    display: flex;
    flex-direction: column;

    .create-form{
        background-color: white;
        border-radius: 8px;
        margin: 20px 60px;
        padding: 30px 40px;

        h2{
            font-weight: 600;
            margin-top: 0;
        }

        p{
            color: $paragraphColor;
        }

        .description-input{
            textarea{
                margin-top: 10px;
                border-radius: 8px;
                border-color: $mediumGray;
            }
        }
    }
}


.search-list-card{
    cursor: pointer;
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    margin: 1.2rem $navbarLeftMargin;
    
    @extend .container-shadow;

    h2{
        margin: 0;
        font-weight: 600;
        font-family: $paragraphsFont;
    }

    img{
        width: 2rem;
    }

    @include breakpoint-down(medium){
        width: 70%;
        margin: 8px 0;
    }

    @include breakpoint-down(small){
        width: 40%;
        margin: 8px 0;
    }
}



.card-text-upper{
    p{
        margin-right: 2.2rem;
        color: $darkGray;
        width: 40rem;
    }
}

.CityInput {
    position: relative;
    color: #333;
    cursor: pointer;
    font-family: $paragraphsFont;
    transition: ease-in-out 0.5s;

    .arrow {
        border-color: $formBorderColor transparent transparent;
        border-style: solid;
        border-width: 5px 5px 0;
        content: " ";
        display: block;
        margin-top: 0.3rem;
        position: absolute;
        right: 10px;
        top: 14px;
    }

    .arrow.open {
        border-color: transparent transparent $formBorderColor;
        border-width: 0 5px 5px;
    }

    .selected-value {
        cursor: pointer;
        input{
            line-height: 1.5;
            font-size: 1rem;
            background-color: #fff;
            border: 1px solid #ccc;
            border-radius: $borderRadius;
            box-sizing: border-box;
            cursor: pointer;
            outline: none;
            padding: 8px 52px 8px 10px;
            transition: all 200ms ease;
            width: 100%;
        }
    }

    .error-selected-input{
        input{
            line-height: 1.5;
            font-size: 1rem;
            background-color: #fff;
            border: 2px solid rgb(233, 26, 26);
            border-radius: $borderRadius;
            box-sizing: border-box;
            cursor: pointer;
            outline: none;
            padding: 8px 52px 8px 10px;
            transition: all 200ms ease;
            width: 100%;
        }
    }

    .options {
        display: none;
        background-color: #fff;
        border: 1px solid #ccc;
        box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
        box-sizing: border-box;
        max-height: 200px;
        overflow-y: auto;
        position: absolute;
        width: 100%;
        z-index: 1000;
        -webkit-overflow-scrolling: touch;
    }

    .option {
        box-sizing: border-box;
        color: rgba(51, 51, 51, 0.8);
        cursor: pointer;
        display: block;
        padding: 8px 10px;
    }

    .option.selected, .option:hover {
        background-color: #f2f9fc;
        color: #333;
    }

    .options.open {
        display: block;
    }
}

#description{
    width: 80%;
}

.single-card{
    @extend .container-shadow;
    background-color: white;
    border-radius: $borderRadius;
    padding: 20px;
}

.main{
    position: relative;
    top: 2rem;
}
  
.container-with-cards{
    background-color: white;
    border-radius: $borderRadius;
    padding-top: 1.2rem;
    margin-bottom: 2rem;

    h2{
        font-weight: 600;
    }

    .items-container-item{
        border: $mediumGray 1px solid;
        border-radius: $borderRadius;
        margin: 1.2rem 0;
        padding: 1rem 1.4rem;

        p{
            margin-bottom: 0;
            color: $darkGray;
            margin-right: 1rem;
            //width: 95%;
        }
    }
}

.fit-content{
    width: fit-content;
}

.user-items-container{
    padding: 0 1.5rem 1.5rem 1.5rem;
}

.filters{
    margin-left: 2rem;
}

.search-input{
    position: relative;
    transition: ease-in-out 0.5s;

    input{
        border-radius: $borderRadius;
        padding: 1rem 1.2rem;
        width: 500px;
        border: 1px solid $formBorderColor;
        font-family: $paragraphsFont;

        @include breakpoint-down(medium){
            width: 85%;
        }
    }

    svg{
        position: absolute;
        right: 2%;
        top: 30%;
        cursor: pointer;

        &:hover{
            fill: $orange;
            transition: 0.2s ease-in;
        }
    }
}

.filters-area{
    background-color: white;
    border-radius: $borderRadius;
    padding: 16px;
    margin-left: $topPageMargin;
    height: 50%;

    @include breakpoint-down(medium){
        display: none;
    }
}

#filters-area{
    @include breakpoint-up(large){
        display: none;
    }

    margin: 0;
}

.page-content{
    margin-top: $topPageMargin;
    @include breakpoint-down(medium){
        margin: 1rem 1rem 0 1rem;
    }
}

.page-content-standard{
    margin: $topPageMargin $pageSideMagrin 0 $pageSideMagrin;
}

.filter-mobile-btn{
    @include breakpoint-up(large){
        display: none;
    }
}

.ads{
    line-height: 35rem;
    background-color: $orange;
    margin-right: 20px;

    h2{
        padding: 1rem;
    }

    @include breakpoint-down(medium){
        display: none;
    }
}

.user-items{
    h2{
        text-align: center;
        margin-bottom: 1.4rem;
    }

    h3{
        font-weight: 600;
    }

    .item-card{
        margin-bottom: 1rem;
    }
}

#demandType{
    font-size: inherit;
    margin: 10px 0;
    transition: ease-in-out 0.5s;
    
    option{
        font-family: $paragraphsFont;
    }

    .option.selected, .option:hover {
        background-color: #f2f9fc;
        color: #333;
    }
}
