.popup{
    background-color: white;
    z-index: 6;
    padding: 2rem;
    border-radius: $borderRadius;
    width: 80%;

    @include breakpoint-up(medium){
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);  
    }

    @include breakpoint-down(small){
        width: 100vh;
        p{
            width: 50vh;
        }
    }
}

.popup-confirm{
    @extend .popup;
    width: unset;
}

.darken-background{
    background-color: black;
    position: fixed;
    z-index: 5;
    width: 100%;
    height: 100%;
    filter: opacity(50%);

    top: 0px;
    left: 0px;
    bottom: 0;
}

.alert{
    //background-color: rgb(93 204 97);
    margin: 2rem;
}