.flex-row{
    display: flex;
    flex-direction: row;
}

.flex-column{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.flex-row-align-center{
    @extend .flex-row;
    align-items: center;
}

.flex-row-spaced{
    @extend .flex-row-align-center;
    justify-content: space-between;
}


.flex-row-spaced-even{
    @extend .flex-row-align-center;
    justify-content: space-evenly;
}

.flex-row-only-spaced{
    display: flex;
    justify-content: space-evenly;

    @include breakpoint-down(medium){
        justify-content: center;
    }
}

.flex-row-space-between{
    @extend .flex-row;
    justify-content: space-between;
}

.flex-row-centered{
    @extend .flex-row;
    justify-content: center;
    align-items: center;
}

.flex-end{
    display: flex; 
    justify-content: flex-end;
}