.Footer{
    font-family: inherit;
    background-color: $orange;
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: $footerHeight;

    .footer-menu{
        display: flex;
        justify-content: space-between;
        align-items: center;

        .footer-item{
            cursor: pointer;
            margin: 15px;
            padding: 5px;
            font-size: 14px;
            color: white;

                &:before {
                    left: 0px;
                    bottom: 2px;
                    width: 100%;
                    height: 1.2px;
                    background: white;
                    transform: scaleX(0);
                }
                &:hover {
                    &:before {
                        transform: scaleX(1.2);
                    }
                }
        }


    }
}



