body {
    margin: 0px;
    height: 100vh;
    position: relative;
    background-color: $mainBodyColor;

    @include breakpoint-down(medium){
        font-size: 14px;
    }
}

.main-component-color{
    background-color: $mainBodyColor;
}

a{
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    font-family: $paragraphsFont;
}

h1, h2, h3, h4, h5, h6{
    font-family: $headingsFont;
    font-weight: 400;
    margin: 0;
}
  
p{
    font-family: $paragraphsFont;
    word-wrap:break-word;

    @include breakpoint-down(medium){
        font-size: 14px;
    }
}

ul{
    list-style: none;
    font-family: $paragraphsFont;
}

span, label, div{
    font-family: $paragraphsFont;

    @include breakpoint-down(medium){
        font-size: 14px;
    }
}

textarea{
    font-family: $paragraphsFont;
    font-size: inherit;
}

hr{
    margin-top: 1rem;
    border: 0;
    border-top: 1px solid $gray;
}

section{
    @include breakpoint-down(medium){
        margin-bottom: 1.8rem;
    }
}

.error{
    font-family: $paragraphsFont;
    color: #e94900;
}

.error-input{
    width: 100%;
    border: 1.6px solid #e90000;
    padding: 5px;
    font-size: 18px;
    border-radius: 8px;
}

.container-shadow{
    box-shadow: 4px 4px 15px rgba(255, 153, 95, 0.15);
}

.vl {
    border-left: 2px solid $lightGray;
    height: 6rem;
    margin: 0 2rem;

    
    @include breakpoint-down(medium){
        display: none;
    }
}

.page-with-footer{
    min-height: $minPageHeight;
}

input[type="checkbox"] { /* change "blue" browser chrome to yellow */
    filter: hue-rotate(176deg) brightness(1.7);
    //transform: scale(1.2);
    //https://stackoverflow.com/questions/306924/can-i-change-the-checkbox-size-using-css?rq=1
}
//https://stackoverflow.com/questions/24322599/why-cannot-change-checkbox-color-whatever-i-do

.small-checkbox{
    transform: scale(1.2);
}

.bigger-checkbox{
    transform: scale(1.5);
} 

.growing-content {
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
    align-items: stretch;
}

.no-margin{
    margin: 0;
}

.bold{
    font-weight: 600;
}

.hidden{
    display: none;
}

.shown{
    display: block;
}

.secondary-text{
    color: $darkGray;
}

