.landing-page{
  background-color: $landingPageColor;
  position: relative;

  .landing-page-up{
    h1{
      font-weight: 800;
      font-size: 56px;
      font-family: $paragraphsFont;
      margin: 0;

      @include breakpoint-down(medium){
        font-size: 40px;
        font-weight: 600;
      }
    }

    .landing-page-up-text{
      margin-left: $navbarLeftMargin;
      margin-top: $navbarLeftMargin;
      z-index: 3;

      @include breakpoint-down(medium){
        margin-left: 1rem;
        margin-top: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      p{
        width: 50%;

        @include breakpoint-down(medium){
          width: 80%;
        }
      }
    }
  }

  .landing-page-middle{
    display: flex;
    align-items: center;
    justify-content: center;

    .landing-page-panel{
      border-radius: $borderRadius;
      background-color: white;
      position: relative;
      margin-top: 20rem;
      padding: 2rem;

      @include breakpoint-down(medium){
        margin-top: 13rem;
        flex-direction: column;
      }

      .stats-bold{
        font-weight: 600;
        margin-bottom: 4px;
      }

      img{
        width: 3rem;
        margin: 0 1.3rem;
      }
    }
  }

  .landing-page-bottom{
    margin-top: 2rem;

    .logistics{
      position: relative;
      left: 0;
      width: 40rem;

      @include breakpoint-down(small){
        width: 90%;
        position: absolute;
        z-index: 1;
        opacity: 30%;
      }
      @include breakpoint-down(medium){
        width: 90%;
        z-index: 1;
      }
    }

    .landing-page-bottom-text{
      padding-left: 4rem;

      @include breakpoint-down(medium){
        padding-left: 0;
        margin: 2rem;
        display: flex;
        flex-direction: column;
        z-index: 2;
      }

      .landing-page-bottom-txt-head{
        padding-right: 14rem;
        

        @include breakpoint-down(medium){
          padding-right: 0;
        }
  
        h1{
          font-family: $paragraphsFont;
          font-weight: 600;
          margin-bottom: 2rem;
        }
      }
    }

  }
}

.takeout_boxes{
  position: absolute;
  right: 0;
  top: -80px;
  z-index: auto;
  width: 40rem;

  @include breakpoint-down(medium){
    width: 70%;
    opacity: 50%;
    top: 4rem;
  }
  @include breakpoint-down(small){
    width: 70%;
    opacity: 50%;
    top: 13rem
  }
}

  
.check-list-icon{
  margin-right: 2rem;
}


.landing-page-ending{
  background-color: white;
  border-radius: $borderRadius;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5rem 20rem ;
  padding: 2rem;

  @include breakpoint-down(medium){
    position: relative;
    margin: 2rem;
    z-index: 3;
    flex-direction: column;
  }

  .landing-page-ending-text{
    margin-right: 10rem;

    @include breakpoint-down(medium){
      margin: 0;
    }
  }

  h2{
    font-weight: 600;
    font-family: $paragraphsFont;
  }
}











