//-------------Breakpoints---------------

@media(min-width: 64em){
    //styling goes here
}

//at this point and bigger use this styles:
//sass map for breakpoints
//640px, 1024px, 1400 and up
$breakpoints-up:("medium": "40em", "large": "64em", "xlarge": "87.5em");

//this and down:
//639px, 1023, 1399 and down
$breakpoints-down:("small": "39.9375em","medium": "63.9375em", "large":  "87.4375em");

@mixin breakpoint-up($size) {
    @media(min-width: map-get($breakpoints-up, $size)){
        @content;
    }
}

@mixin breakpoint-down($size) {
    @media(max-width: map-get($breakpoints-down, $size)){
        @content;  
    }
}