.Navbar{
    @extend .main-component-color;
    height: $navbarHeight;

    @include breakpoint-down(medium){
        font-size: 12px;
        text-align: center;
    }
}

.NavbarGuest{
    position: relative;
    z-index: 1;
}

.navbar-regular-menu{
    @include breakpoint-down(small){
        display: none;
    }
}

.navbar-mobile-menu{
    background-color: $orange;

    @include breakpoint-down(small){
        display: block;
    }
    @include breakpoint-up(medium){
        display: none;
    }

    .navbar-mobile-menu-items{
        color: white;
        font-size: 1rem;
        padding-bottom: 1rem;
    }
}

.navbar-content{
    @include breakpoint-up(medium){
        margin-left: $navbarLeftMargin;
        margin-right: $navbarRightMargin;
    }
}

.logo{
    width: 2.2rem;
    margin-right: 0.4rem;
}

.navbar-logo{
    h3{
        margin-top: 0;
    }
}

.navbar-nav-links{
    a{
        margin-right: 3rem;
        font-weight: 500;
    }

    @include breakpoint-down(medium){
        font-size: 12px;
        text-align: center;
    }


    @include breakpoint-down(small){
        display: none;
    }
}

#hamburger-icon{
    padding: 8px;
    width: 2rem;
    position: relative;
    left: 86%;
}

.navbar-user{
    width: 2.4rem;
    margin-right: 1.4rem;
}

.navbar-user-section{
    cursor: pointer;
    transition: ease-in-out 0.5s;
    
    &:hover{
        color: $orange;
        transition: 0.3s ease-in-out;
    }

    p{
        font-weight: 500;
    }
}


.link-hover {
	&:before {
		left: 0px;
		bottom: 6px;
		width: 100%;
		height: 1.2px;
		background: black;
		transform: scaleX(0);
	}
	&:hover {
		&:before {
			transform: scaleX(1.2);
		}
	}
}

.link-p-hover {
    cursor: pointer;
	&:before {
		left: 0px;
		bottom: -6px;
		width: 100%;
		height: 1.2px;
		background: black;
		transform: scaleX(0);
	}
	&:hover {
		&:before {
			transform: scaleX(1.2);
		}
	}
}


.animated-link{
    position: relative;

    &:before {
        content: '';
        position: absolute;
        transition: transform .5s ease;
    }
    &:after {
        content: '';
        position: absolute;
        transition: transform .5s ease;
    }
}