.UserAccount{
    @extend .main-component-color;
    display: flex;
    flex-direction: column;
    min-height: $minPageHeight;
}   


.white-card{
    background-color: white;
    border-radius: 8px;
    padding: 1.6rem;
}

.account-main-card{
    @extend .white-card;
    margin: 2rem 6rem;

    @include breakpoint-down(small){
        margin: 1rem 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .account-main-card-left{ 
        h2{
            font-weight: 600;
            margin: 0;
        }

        .user-img-container{
            margin-right: 16px;
        }

        @include breakpoint-down(small){
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }

    .account-main-card-right{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    a{
        font-family: $paragraphsFont;
        font-weight: 500;
    }
}

.logout-link{
    cursor: pointer;
    
    p{
        margin: 0;
    }
}
