//------------------------COLORS---------------------------
$orange: #FF995F; 
$darkOrange: #FF8944;
$peachy: #FCDBB6;
$mainBodyColor: #FFECE1;
$landingPageColor: #FFFCFA;

$lightGray: #f0f0f0b2;
$gray: #C4C4C4B2;
$mediumGray: #9e9e9eb2;
$darkGray: #2e2e2eb2;

$paragraphColor: #747474;
$formBorderColor: #B2B2B2;

//------------------------TYPOGRAPHY-----------------------
$headingsFont: 'Roboto Condensed', sans-serif;
$paragraphsFont: 'Open Sans', sans-serif;


//------------------------SPACING--------------------------
$navbarLeftMargin: 8rem;
$navbarRightMargin: 4rem;
$pageSideMagrin: 3rem;
$topPageMargin: 2rem;

$borderRadius: 8px; 

$footerHeight: 3.70rem; //3.75rem;
$navbarHeight: 3rem;

$minPageHeight: calc(100vh - #{$footerHeight} - #{$navbarHeight} - #{$topPageMargin})