body {
  margin: 0px;
  height: 100vh;
  position: relative;
  background-color: #FFECE1;
}

@media (max-width: 63.9375em) {
  body {
    font-size: 14px;
  }
}

.main-component-color, .Navbar, .search-page, .Transports, .CreateDemand, .CreateTransport, .UserAccount {
  background-color: #FFECE1;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  font-family: "Open Sans", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 400;
  margin: 0;
}

p {
  font-family: "Open Sans", sans-serif;
  word-wrap: break-word;
}

@media (max-width: 63.9375em) {
  p {
    font-size: 14px;
  }
}

ul {
  list-style: none;
  font-family: "Open Sans", sans-serif;
}

span, label, div {
  font-family: "Open Sans", sans-serif;
}

@media (max-width: 63.9375em) {
  span, label, div {
    font-size: 14px;
  }
}

textarea {
  font-family: "Open Sans", sans-serif;
  font-size: inherit;
}

hr {
  margin-top: 1rem;
  border: 0;
  border-top: 1px solid #C4C4C4B2;
}

@media (max-width: 63.9375em) {
  section {
    margin-bottom: 1.8rem;
  }
}

.error {
  font-family: "Open Sans", sans-serif;
  color: #e94900;
}

.error-input {
  width: 100%;
  border: 1.6px solid #e90000;
  padding: 5px;
  font-size: 18px;
  border-radius: 8px;
}

.container-shadow, .search-list-card, .single-card {
  -webkit-box-shadow: 4px 4px 15px rgba(255, 153, 95, 0.15);
          box-shadow: 4px 4px 15px rgba(255, 153, 95, 0.15);
}

.vl {
  border-left: 2px solid #f0f0f0b2;
  height: 6rem;
  margin: 0 2rem;
}

@media (max-width: 63.9375em) {
  .vl {
    display: none;
  }
}

.page-with-footer {
  min-height: calc(100vh - 3.7rem - 3rem - 2rem);
}

input[type="checkbox"] {
  /* change "blue" browser chrome to yellow */
  -webkit-filter: hue-rotate(176deg) brightness(1.7);
          filter: hue-rotate(176deg) brightness(1.7);
}

.small-checkbox {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.bigger-checkbox {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.growing-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.no-margin {
  margin: 0;
}

.bold {
  font-weight: 600;
}

.hidden {
  display: none;
}

.shown {
  display: block;
}

.secondary-text {
  color: #2e2e2eb2;
}

.basic-button, .button-secondary, .button-secondary:hover, .button-success, .button-deny, .glowing-button {
  background-color: #FF995F;
  border-radius: 6px;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  padding: 12px 26px;
  -webkit-transition: ease-in-out 0.5s;
  transition: ease-in-out 0.5s;
}

.basic-button:hover, .button-secondary:hover, .button-success:hover, .button-deny:hover, .glowing-button:hover {
  -webkit-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
  -webkit-transform: scaleX(1.05) scaleY(1.05);
          transform: scaleX(1.05) scaleY(1.05);
}

@media (max-width: 63.9375em) {
  .basic-button, .button-secondary, .button-secondary:hover, .button-success, .button-deny, .glowing-button {
    font-size: inherit;
  }
}

.centered-button-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.button-secondary {
  background-color: unset;
  border: 1px solid #FF995F;
  color: black;
  -webkit-transition: ease-in-out 0.5s;
  transition: ease-in-out 0.5s;
}

.button-secondary:hover {
  -webkit-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
}

.delete-button {
  background-color: #d54300;
  border-radius: 8px;
  padding: 8px;
  color: white;
  cursor: pointer;
  -webkit-transition: ease-in-out 0.5s;
  transition: ease-in-out 0.5s;
}

.delete-button:hover {
  opacity: 60%;
  -webkit-transition: ease-in-out 0.4s;
  transition: ease-in-out 0.4s;
}

.button-success {
  background-color: rgba(29, 190, 77, 0.877);
}

.button-deny {
  background-color: #e41616;
}

.close-button {
  cursor: pointer;
  -webkit-transition: ease-in-out 0.5s;
  transition: ease-in-out 0.5s;
}

.close-button:hover {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transition: ease-in-out 0.4s;
  transition: ease-in-out 0.4s;
}

.glowing-button {
  -webkit-box-shadow: 4px 4px 15px rgba(255, 153, 95, 0.3);
          box-shadow: 4px 4px 15px rgba(255, 153, 95, 0.3);
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.flex-row, .flex-row-align-center, .flex-row-spaced, .flex-row-spaced-even, .flex-row-space-between, .flex-row-centered {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.flex-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-row-align-center, .flex-row-spaced, .flex-row-spaced-even {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-row-spaced {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-row-spaced-even {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.flex-row-only-spaced {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

@media (max-width: 63.9375em) {
  .flex-row-only-spaced {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.flex-row-space-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-row-centered {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-end {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.Navbar {
  height: 3rem;
}

@media (max-width: 63.9375em) {
  .Navbar {
    font-size: 12px;
    text-align: center;
  }
}

.NavbarGuest {
  position: relative;
  z-index: 1;
}

@media (max-width: 39.9375em) {
  .navbar-regular-menu {
    display: none;
  }
}

.navbar-mobile-menu {
  background-color: #FF995F;
}

@media (max-width: 39.9375em) {
  .navbar-mobile-menu {
    display: block;
  }
}

@media (min-width: 40em) {
  .navbar-mobile-menu {
    display: none;
  }
}

.navbar-mobile-menu .navbar-mobile-menu-items {
  color: white;
  font-size: 1rem;
  padding-bottom: 1rem;
}

@media (min-width: 40em) {
  .navbar-content {
    margin-left: 8rem;
    margin-right: 4rem;
  }
}

.logo {
  width: 2.2rem;
  margin-right: 0.4rem;
}

.navbar-logo h3 {
  margin-top: 0;
}

.navbar-nav-links a {
  margin-right: 3rem;
  font-weight: 500;
}

@media (max-width: 63.9375em) {
  .navbar-nav-links {
    font-size: 12px;
    text-align: center;
  }
}

@media (max-width: 39.9375em) {
  .navbar-nav-links {
    display: none;
  }
}

#hamburger-icon {
  padding: 8px;
  width: 2rem;
  position: relative;
  left: 86%;
}

.navbar-user {
  width: 2.4rem;
  margin-right: 1.4rem;
}

.navbar-user-section {
  cursor: pointer;
  -webkit-transition: ease-in-out 0.5s;
  transition: ease-in-out 0.5s;
}

.navbar-user-section:hover {
  color: #FF995F;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.navbar-user-section p {
  font-weight: 500;
}

.link-hover:before {
  left: 0px;
  bottom: 6px;
  width: 100%;
  height: 1.2px;
  background: black;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
}

.link-hover:hover:before {
  -webkit-transform: scaleX(1.2);
          transform: scaleX(1.2);
}

.link-p-hover {
  cursor: pointer;
}

.link-p-hover:before {
  left: 0px;
  bottom: -6px;
  width: 100%;
  height: 1.2px;
  background: black;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
}

.link-p-hover:hover:before {
  -webkit-transform: scaleX(1.2);
          transform: scaleX(1.2);
}

.animated-link {
  position: relative;
}

.animated-link:before {
  content: '';
  position: absolute;
  -webkit-transition: -webkit-transform .5s ease;
  transition: -webkit-transform .5s ease;
  transition: transform .5s ease;
  transition: transform .5s ease, -webkit-transform .5s ease;
}

.animated-link:after {
  content: '';
  position: absolute;
  -webkit-transition: -webkit-transform .5s ease;
  transition: -webkit-transform .5s ease;
  transition: transform .5s ease;
  transition: transform .5s ease, -webkit-transform .5s ease;
}

.Footer {
  font-family: inherit;
  background-color: #FF995F;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  height: 3.7rem;
}

.Footer .footer-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Footer .footer-menu .footer-item {
  cursor: pointer;
  margin: 15px;
  padding: 5px;
  font-size: 14px;
  color: white;
}

.Footer .footer-menu .footer-item:before {
  left: 0px;
  bottom: 2px;
  width: 100%;
  height: 1.2px;
  background: white;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
}

.Footer .footer-menu .footer-item:hover:before {
  -webkit-transform: scaleX(1.2);
          transform: scaleX(1.2);
}

.landing-page {
  background-color: #FFFCFA;
  position: relative;
}

.landing-page .landing-page-up h1 {
  font-weight: 800;
  font-size: 56px;
  font-family: "Open Sans", sans-serif;
  margin: 0;
}

@media (max-width: 63.9375em) {
  .landing-page .landing-page-up h1 {
    font-size: 40px;
    font-weight: 600;
  }
}

.landing-page .landing-page-up .landing-page-up-text {
  margin-left: 8rem;
  margin-top: 8rem;
  z-index: 3;
}

@media (max-width: 63.9375em) {
  .landing-page .landing-page-up .landing-page-up-text {
    margin-left: 1rem;
    margin-top: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.landing-page .landing-page-up .landing-page-up-text p {
  width: 50%;
}

@media (max-width: 63.9375em) {
  .landing-page .landing-page-up .landing-page-up-text p {
    width: 80%;
  }
}

.landing-page .landing-page-middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.landing-page .landing-page-middle .landing-page-panel {
  border-radius: 8px;
  background-color: white;
  position: relative;
  margin-top: 20rem;
  padding: 2rem;
}

@media (max-width: 63.9375em) {
  .landing-page .landing-page-middle .landing-page-panel {
    margin-top: 13rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.landing-page .landing-page-middle .landing-page-panel .stats-bold {
  font-weight: 600;
  margin-bottom: 4px;
}

.landing-page .landing-page-middle .landing-page-panel img {
  width: 3rem;
  margin: 0 1.3rem;
}

.landing-page .landing-page-bottom {
  margin-top: 2rem;
}

.landing-page .landing-page-bottom .logistics {
  position: relative;
  left: 0;
  width: 40rem;
}

@media (max-width: 39.9375em) {
  .landing-page .landing-page-bottom .logistics {
    width: 90%;
    position: absolute;
    z-index: 1;
    opacity: 30%;
  }
}

@media (max-width: 63.9375em) {
  .landing-page .landing-page-bottom .logistics {
    width: 90%;
    z-index: 1;
  }
}

.landing-page .landing-page-bottom .landing-page-bottom-text {
  padding-left: 4rem;
}

@media (max-width: 63.9375em) {
  .landing-page .landing-page-bottom .landing-page-bottom-text {
    padding-left: 0;
    margin: 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    z-index: 2;
  }
}

.landing-page .landing-page-bottom .landing-page-bottom-text .landing-page-bottom-txt-head {
  padding-right: 14rem;
}

@media (max-width: 63.9375em) {
  .landing-page .landing-page-bottom .landing-page-bottom-text .landing-page-bottom-txt-head {
    padding-right: 0;
  }
}

.landing-page .landing-page-bottom .landing-page-bottom-text .landing-page-bottom-txt-head h1 {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  margin-bottom: 2rem;
}

.takeout_boxes {
  position: absolute;
  right: 0;
  top: -80px;
  z-index: auto;
  width: 40rem;
}

@media (max-width: 63.9375em) {
  .takeout_boxes {
    width: 70%;
    opacity: 50%;
    top: 4rem;
  }
}

@media (max-width: 39.9375em) {
  .takeout_boxes {
    width: 70%;
    opacity: 50%;
    top: 13rem;
  }
}

.check-list-icon {
  margin-right: 2rem;
}

.landing-page-ending {
  background-color: white;
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 5rem 20rem;
  padding: 2rem;
}

@media (max-width: 63.9375em) {
  .landing-page-ending {
    position: relative;
    margin: 2rem;
    z-index: 3;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.landing-page-ending .landing-page-ending-text {
  margin-right: 10rem;
}

@media (max-width: 63.9375em) {
  .landing-page-ending .landing-page-ending-text {
    margin: 0;
  }
}

.landing-page-ending h2 {
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
}

.popup, .popup-confirm {
  background-color: white;
  z-index: 6;
  padding: 2rem;
  border-radius: 8px;
  width: 80%;
}

@media (min-width: 40em) {
  .popup, .popup-confirm {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

@media (max-width: 39.9375em) {
  .popup, .popup-confirm {
    width: 100vh;
  }
  .popup p, .popup-confirm p {
    width: 50vh;
  }
}

.popup-confirm {
  width: unset;
}

.darken-background {
  background-color: black;
  position: fixed;
  z-index: 5;
  width: 100%;
  height: 100%;
  -webkit-filter: opacity(50%);
          filter: opacity(50%);
  top: 0px;
  left: 0px;
  bottom: 0;
}

.alert {
  margin: 2rem;
}

.Register, .LoginPage {
  background: linear-gradient(106.33deg, #FF995F -39.52%, #FFECE1 113.61%);
  position: relative;
}

@media (max-width: 39.9375em) {
  .Register, .LoginPage {
    max-height: 100vh;
    width: 100vh;
    background: #FFFCFA;
  }
}

@media (min-width: 40em) {
  .centered-div {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 85%;
  }
}

.login-panel {
  border-radius: 30px;
  background-color: #FFFCFA;
}

@media (max-width: 39.9375em) {
  .login-panel {
    border-radius: 0;
  }
}

.login-panel .login-label {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 400;
}

.login-panel .login-options {
  margin: 20px 0 0 5px;
  width: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 39.9375em) {
  .login-panel .login-options {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.login-panel button {
  width: 412px;
  margin-top: 26px;
}

@media (max-width: 39.9375em) {
  .login-panel button {
    width: 80%;
  }
}

.login-panel-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.login-panel-right img {
  width: 70%;
}

@media (max-width: 39.9375em) {
  .login-panel-right img {
    display: none;
  }
}

.login-panel-left {
  margin: 26px 10px 10px 46px;
}

@media (max-width: 39.9375em) {
  .login-panel-left {
    margin: 26px 0px 0px 18px;
  }
}

.login-panel-left .inputs-area {
  margin-top: 4rem;
}

.login-panel-left .inputs-area h2 {
  font-size: 40px;
  font-weight: 800;
}

@media (max-width: 39.9375em) {
  .login-panel-left .inputs-area h2 {
    font-size: 24px;
  }
}

.login-panel-left .inputs-area-smaller {
  margin-top: 2rem;
}

.login-panel-left .inputs-area-smaller h2 {
  font-size: 40px;
  font-weight: 800;
}

.login-panel-left .inputs-area-header p {
  font-size: 16px;
  font-weight: 500;
  color: #A79184;
  width: 400px;
}

@media (max-width: 39.9375em) {
  .login-panel-left .inputs-area-header p {
    font-size: 14px;
  }
}

.orange-link, .login-panel .login-options span {
  cursor: pointer;
  color: #FF995F;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 700;
}

@media (max-width: 63.9375em) {
  .orange-link, .login-panel .login-options span {
    font-size: 14px;
    margin-top: 1rem;
  }
}

.login-panel-input {
  margin-top: 1.6rem;
  position: relative;
  width: 100%;
}

.login-label {
  margin-bottom: 2rem;
  font-size: 1rem;
  font-weight: 500;
}

.form-input, .form-input-unset, .form-input-width-44, .form-input-width-60 {
  width: 100%;
  border: 1px solid #C4C4C4B2;
  padding: 5px;
  font-size: 16px;
  border-radius: 8px;
}

@media (max-width: 39.9375em) {
  .form-input, .form-input-unset, .form-input-width-44, .form-input-width-60 {
    font-size: 14px;
    width: 70%;
  }
}

.form-input-unset {
  width: unset;
}

.form-input-width-44 {
  width: 44%;
}

.form-input-width-60 {
  width: 60%;
}

.login-checkbox {
  min-width: 18px;
  min-height: 18px;
  border: 1,25px solid #FF995F;
  margin-right: 10px;
}

.login-checkbox-label {
  font-size: 16px;
  font-weight: 500;
}

.search-page, .Transports, .CreateDemand, .CreateTransport {
  min-height: calc(100vh - 3.7rem - 3rem - 2rem);
}

.CreateDemand, .CreateTransport {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.CreateDemand .create-form, .CreateTransport .create-form {
  background-color: white;
  border-radius: 8px;
  margin: 20px 60px;
  padding: 30px 40px;
}

.CreateDemand .create-form h2, .CreateTransport .create-form h2 {
  font-weight: 600;
  margin-top: 0;
}

.CreateDemand .create-form p, .CreateTransport .create-form p {
  color: #747474;
}

.CreateDemand .create-form .description-input textarea, .CreateTransport .create-form .description-input textarea {
  margin-top: 10px;
  border-radius: 8px;
  border-color: #9e9e9eb2;
}

.search-list-card {
  cursor: pointer;
  background-color: white;
  border-radius: 8px;
  padding: 20px;
  margin: 1.2rem 8rem;
}

.search-list-card h2 {
  margin: 0;
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
}

.search-list-card img {
  width: 2rem;
}

@media (max-width: 63.9375em) {
  .search-list-card {
    width: 70%;
    margin: 8px 0;
  }
}

@media (max-width: 39.9375em) {
  .search-list-card {
    width: 40%;
    margin: 8px 0;
  }
}

.card-text-upper p {
  margin-right: 2.2rem;
  color: #2e2e2eb2;
  width: 40rem;
}

.CityInput {
  position: relative;
  color: #333;
  cursor: pointer;
  font-family: "Open Sans", sans-serif;
  -webkit-transition: ease-in-out 0.5s;
  transition: ease-in-out 0.5s;
}

.CityInput .arrow {
  border-color: #B2B2B2 transparent transparent;
  border-style: solid;
  border-width: 5px 5px 0;
  content: " ";
  display: block;
  margin-top: 0.3rem;
  position: absolute;
  right: 10px;
  top: 14px;
}

.CityInput .arrow.open {
  border-color: transparent transparent #B2B2B2;
  border-width: 0 5px 5px;
}

.CityInput .selected-value {
  cursor: pointer;
}

.CityInput .selected-value input {
  line-height: 1.5;
  font-size: 1rem;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
  outline: none;
  padding: 8px 52px 8px 10px;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  width: 100%;
}

.CityInput .error-selected-input input {
  line-height: 1.5;
  font-size: 1rem;
  background-color: #fff;
  border: 2px solid #e91a1a;
  border-radius: 8px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
  outline: none;
  padding: 8px 52px 8px 10px;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  width: 100%;
}

.CityInput .options {
  display: none;
  background-color: #fff;
  border: 1px solid #ccc;
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
          box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-height: 200px;
  overflow-y: auto;
  position: absolute;
  width: 100%;
  z-index: 1000;
  -webkit-overflow-scrolling: touch;
}

.CityInput .option {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: rgba(51, 51, 51, 0.8);
  cursor: pointer;
  display: block;
  padding: 8px 10px;
}

.CityInput .option.selected, .CityInput .option:hover {
  background-color: #f2f9fc;
  color: #333;
}

.CityInput .options.open {
  display: block;
}

#description {
  width: 80%;
}

.single-card {
  background-color: white;
  border-radius: 8px;
  padding: 20px;
}

.main {
  position: relative;
  top: 2rem;
}

.container-with-cards {
  background-color: white;
  border-radius: 8px;
  padding-top: 1.2rem;
  margin-bottom: 2rem;
}

.container-with-cards h2 {
  font-weight: 600;
}

.container-with-cards .items-container-item {
  border: #9e9e9eb2 1px solid;
  border-radius: 8px;
  margin: 1.2rem 0;
  padding: 1rem 1.4rem;
}

.container-with-cards .items-container-item p {
  margin-bottom: 0;
  color: #2e2e2eb2;
  margin-right: 1rem;
}

.fit-content {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.user-items-container {
  padding: 0 1.5rem 1.5rem 1.5rem;
}

.filters {
  margin-left: 2rem;
}

.search-input {
  position: relative;
  -webkit-transition: ease-in-out 0.5s;
  transition: ease-in-out 0.5s;
}

.search-input input {
  border-radius: 8px;
  padding: 1rem 1.2rem;
  width: 500px;
  border: 1px solid #B2B2B2;
  font-family: "Open Sans", sans-serif;
}

@media (max-width: 63.9375em) {
  .search-input input {
    width: 85%;
  }
}

.search-input svg {
  position: absolute;
  right: 2%;
  top: 30%;
  cursor: pointer;
}

.search-input svg:hover {
  fill: #FF995F;
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}

.filters-area {
  background-color: white;
  border-radius: 8px;
  padding: 16px;
  margin-left: 2rem;
  height: 50%;
}

@media (max-width: 63.9375em) {
  .filters-area {
    display: none;
  }
}

#filters-area {
  margin: 0;
}

@media (min-width: 64em) {
  #filters-area {
    display: none;
  }
}

.page-content {
  margin-top: 2rem;
}

@media (max-width: 63.9375em) {
  .page-content {
    margin: 1rem 1rem 0 1rem;
  }
}

.page-content-standard {
  margin: 2rem 3rem 0 3rem;
}

@media (min-width: 64em) {
  .filter-mobile-btn {
    display: none;
  }
}

.ads {
  line-height: 35rem;
  background-color: #FF995F;
  margin-right: 20px;
}

.ads h2 {
  padding: 1rem;
}

@media (max-width: 63.9375em) {
  .ads {
    display: none;
  }
}

.user-items h2 {
  text-align: center;
  margin-bottom: 1.4rem;
}

.user-items h3 {
  font-weight: 600;
}

.user-items .item-card {
  margin-bottom: 1rem;
}

#demandType {
  font-size: inherit;
  margin: 10px 0;
  -webkit-transition: ease-in-out 0.5s;
  transition: ease-in-out 0.5s;
}

#demandType option {
  font-family: "Open Sans", sans-serif;
}

#demandType .option.selected, #demandType .option:hover {
  background-color: #f2f9fc;
  color: #333;
}

.UserAccount {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: calc(100vh - 3.7rem - 3rem - 2rem);
}

.white-card, .account-main-card {
  background-color: white;
  border-radius: 8px;
  padding: 1.6rem;
}

.account-main-card {
  margin: 2rem 6rem;
}

@media (max-width: 39.9375em) {
  .account-main-card {
    margin: 1rem 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.account-main-card .account-main-card-left h2 {
  font-weight: 600;
  margin: 0;
}

.account-main-card .account-main-card-left .user-img-container {
  margin-right: 16px;
}

@media (max-width: 39.9375em) {
  .account-main-card .account-main-card-left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.account-main-card .account-main-card-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.account-main-card a {
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
}

.logout-link {
  cursor: pointer;
}

.logout-link p {
  margin: 0;
}

.no-groups-img {
  width: 80%;
  position: relative;
  bottom: 3rem;
  left: 3rem;
}

.no-messages-text {
  margin: 10%;
  text-align: center;
}
/*# sourceMappingURL=index.css.map */